<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liux.musicrelaxes">

    <!--允许程序对设备进行读写操作-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--申请网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--允许程序连接到已配对的蓝牙设备。-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许程序发现和配对蓝牙设备。-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--定位的权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:name=".application.MRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--全面屏的沉浸式布局适配 这里的value值最好是2.1或者更高-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>


        <service android:name=".activity.blueTooth.bluetoothlegatt.BluetoothLeService"
                 android:enabled="true"/>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>



        <activity android:name=".activity.MainActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activity.ChooseMusicActivity"
                  android:screenOrientation="landscape">

        </activity>

        <activity android:name=".activity.PlayMusicActivity"
                  android:screenOrientation="landscape"/>

        <activity android:name=".activity.blueTooth.BlueToothScanActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activity.blueTooth.bluetoothlegatt.DeviceControlActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activity.blueTooth.BlueToothWeCardioActivity"
                  android:screenOrientation="landscape">

        </activity>

        <activity android:name=".activity.blueTooth.BlueToothConnectActivity"
                  android:screenOrientation="landscape">

        </activity>

        <activity android:name=".activity.StateNullActivity"
                  android:screenOrientation="landscape"/>


    </application>

</manifest>